.footer{
    text-align: center;
}
.tittle{
    font-family: 'gotham-black';
}
.firstInput{
    margin-right: 10px;
    width: 20%;
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
}
.lastInput{
    margin-right: 10px;
    width: 20%;
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
}
.emailInput{
    margin-right: 10px;
    width: 20%;
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
}
.buttonInput{
    width: 12%;
    padding: 12px;
    background: #fff;
    border: 2px solid;
    font-size: 15px;
    font-family: "eurostile-condensed";
}
.buttonInput:hover{
    background-color: black;
    color: white;
}
.p{
    margin: 28px 0;
    padding: 0;
    font-size: 13px !important;
    line-height: normal;
    color: #525252;
    letter-spacing: 1px;
}
.mail{
    letter-spacing: 1px;
    cursor: pointer;
}
.navFooter{
    color: black;
    font: 1em sans-serif;
    font-size: 18px !important;
    letter-spacing: 2px;
}
.navFooter:hover{
    color: #525252;
}